* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

/* span {

    border-bottom: 2px solid black;
    padding: 4px;
}

button {
    margin: 20px 0;
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 8px;
}
 */

.maincontainer {
    width: 575px;
    height: 398px;
    border: 1px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1B244A;
}



/* home-score */

.skoreHome {
    position: absolute;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
    border: 1px solid;
    background-color: #080001;
}

/* home-points-text */
.skoreHome #left-count {

    position: relative;
    width: 117px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;

}

/* home-score */

.skoreGuest {
    position: absolute;
    width: 155px;
    height: 120px;
    left: 337px;
    top: 125px;
    background-color: #080001;
}


/* board-title-home */

.ilkh1 {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;
    color: #EEEEEE;

}

/* add-points-btns-home */
.butt1 {
    position: absolute;
    width: 155px;
    height: 45px;
    left: 82px;
    top: 271px;
    background: #1B244A;
}

/* board-title-home */
.ikih1 {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 340px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
}

/* home-points-text */
.skoreGuest #right-count {
    position: relative;
    width: 117px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;
}


/* add-points-btns-home */
.btt2 {
    position: absolute;
    width: 155px;
    height: 45px;
    left: 337px;
    top: 271px;
    background: #1B244A;
}
